<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>julio ghisloti . {{page.title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#000">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/build/css/style.css">

	<script src="/build/js/main.js"></script>
</head>
<body>
	<svg id="fader"></svg>
	<script>fadeInPage();</script>
	
	<header class="header content-absolute">		
		<h1 class="logo">
			<a href="/">
				<img src="/build/img/logo.svg" alt="Julio Ghisloti">
			</a>
		</h1>
		<!-- <a href="#" class="menu"><strong>Menu</strong></a> -->
		<a href="/"><strong>Sobre</strong></a>
	</header>