<div class="menu-over">
	<nav class="content">
		<a href="" class="menu"><strong>fechar</strong></a>

		<ul>
			<li><a href="/">Sobre&nbsp;<span>&</span></a></li>
			<li><a href="/projetos">Projetos&nbsp;<span>&</span></a></li>
			<!-- <li><a href="/textos">Textos&nbsp;<span>.</span></a></li> -->
		</ul>
	</nav>
</div>

<header class="header content-absolute">		
	<h1 class="logo">
		<a href="/">
			<img src="/build/img/logo.svg" alt="Julio Ghisloti">
		</a>
	</h1>
	<a href="#" class="menu"><strong>Menu</strong></a>
</header>