.about{
	flex-direction: column;
	padding-top: 30%;

	img{
		margin-left: -8%;
		width: calc(100% + 16%);
		width: -webkit-calc(100% + 16%);
	}

	.jobs{
		margin-top: 2rem;
		list-style: none;

		li{
			margin-bottom: 2rem;

			p{
				margin-top: .4rem;
			}
		}
	}

	@media screen and (max-width: 1050px){
		padding-top: 25rem;
	}
}