@font-face
	font-family 'Aileron Heavy'
	src url('../fonts/Aileron-Black.eot')
	src url('../fonts/Aileron-Black.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Aileron-Black.ttf')  format('truetype'), 
		url('../fonts/Aileron-Black.svg') format('svg')
	font-style normal
	font-weight 100 	
	
@font-face
	font-family 'Aileron Bold'
	src url('../fonts/Aileron-SemiBold.eot')
	src url('../fonts/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Aileron-SemiBold.ttf')  format('truetype'), 
		url('../fonts/Aileron-SemiBold.svg') format('svg')
	font-style normal
	font-weight 100
	
//fonts
$black = 'Aileron Heavy'
$bold = 'Aileron Bold'