// Main File //

	//nib
	@import 'nib'
	
	//jeet
	@import 'jeet'
	
	body
		font-family 'Lato'
		margin 0
		

	//menu
		.menu
			background-color #fff
			position fixed
			right 10px
			top 12px
			z-index 9999
			
			ul
				margin 0
				padding 0
				
				li
					display inline-block
					padding 10px 8px
					transition(.2s)
					
					&:hover
						background-color #164C71
						
						a
							color #fff
					
					a
						color #166CA9
						display block
						text-decoration none
						transition(.2s)

	//home
		.home
			height 700px
			position relative
			
			.logo
				background-color #166CA9
				box-shadow(2px 3px 20px rgba(0, 0, 0, 0.2))
				left 50%
				margin-left -160px
				margin-top -100px
				height 200px
				position absolute
				top 50%
				transition(.2s)
				width 320px
				
				&Name
					color #fff
					content 'Julio Ghisloti'
					font-weight 100
					height 60px
					margin-top -30px
					position absolute
					text-align center
					text-shadow(1px 1px 3px #000)
					transform(rotate(0deg))
					transition(.2s)
					top 50%
					width 100%
					
					h1
						font-size 1.6em
						font-weight 100
						margin 0
						
						em
							color #8DB0CA
							font-size .9em
					
				&:hover
					border-radius(50%)
					height 320px
					margin-top -160px
					transform(rotate(-45deg))
					
					.logoName
						transform(rotate(45deg))
						
	//sobre
		.sobre
			height 582px
			overflow hidden
			padding-top 100px
			position relative
			width 100%
			
			&::before
				background-color #166CA9
				content ' '
				height 600px
				left -20px
				position absolute
				width 150%
				transform(rotate(-3deg))
				top 30px
				z-index -1
			
			&Content
				align(both)
				width 600px
				
				@media screen and (max-width: 630px)
					width 90%
				
				
				p:nth-child(2)
					margin-top 43px
				
				h2
					display initial
					color #164C71
					float left
					font-size 10em
					font-weight 100
					margin 0
					padding 20px
					padding-top 0
					
					@media screen and (max-width: 750px)
						float none
						padding 0
					
				p
					color #fff
					
	
	//trabalho
		.trabalho
			center(1000px)
			margin-top 30px
			
			@media screen and (max-width: 1120px)
				center(90%)
			
			h2
				color #166CA9
				font-size 2em
				margin-bottom 50px
			
			&Box
				background-color #f9f9f9
				display inline-block
				outline 1px solid #eee
				margin 10px
				padding 15px
				transition(.3s)
				width calc(31% - 30px)
				
				@media screen and (max-width: 1120px)
					width 44%
					
				@media screen and (max-width: 1050px)
					width 42%
					
				@media screen and (max-width: 830px)
					margin 15px 0
					width calc(100% - 30px)
				
				img
					height auto
					width 100%
					
				h3
					margin 14px 0
					margin-bottom 5px
					
				p
					font-size .9em
					margin 0
					
				&:hover
					background-color #fff
					box-shadow(2px 3px 8px rgba(0, 0, 0, 0.3))
				
	//contato
		.contato
			height 600px
			overflow hidden
			margin-top 100px
			position relative
			width 100%
			
			&::before
				background-color #166ca9
				border-radius(50%)
				content ' '
				height 1000px
				position absolute
				left -50%
				width 180%
				
			&Content
				align(both)
				height 200px
				width 600px
				
				@media screen and (max-width: 630px)
					width 90%
				
				h2
					color #fff
					font-size 3em
					margin-bottom 5px
					text-shadow 1px 1px 3px #164C71
					
				p
					color #fff
					font-size 1.2em
					font-weight 100
				
					a
						color #E5E5E5
						font-style italic
