// Main File //

	//nib
	@import 'nib'
	
	//jeet
	@import 'jeet'
	
	//fonts
	@import 'fonts.styl'
	
	//colors
	$azul = #0000ff
	$cinza = #e0e0e0
	
	//tipografy
	link(color, bgColor)
		border-bottom 2px solid bgColor
		color color
		font-family $bold
		font-weight 100
		text-decoration none
		transition(.2s ease)
		
		&:hover
			border-bottom-color color

	h2
		font-family $title
		font-size 3.3em
		font-weight 100
		margin 0 7px
		
	p
		font-family $normal
		font-size 1.5em
		font-weight 100
		margin 0
		margin-bottom 20px
		
	
	body
		background-color $cinza
		margin 0
		//padding 20px
		
		#container
			background-color #fff
			box-shadow(0 5px 50px rgba(0, 0, 0, 0.38))
			overflow hidden
			width 100%
			
			//logo
			.logo
				padding 40px
				position absolute		
				
				// .icon
				// 	background-color $azul
				// 	//border 4px solid $azul
				// 	float left
				// 	height 36px
				// 	position relative
				// 	width @height

					// &:before
					// 	align(center)
					// 	box-shadow 0 -4px 0 0 $azul, 0 4px 0 0 $azul, 0 12px 0 0 $azul
					// 	content ' '
					// 	height 4px
					// 	margin-top -4.1px
					// 	position absolute
					// 	width 65%
						
				span
					color $azul
					display inline-block
					font-family $bold
					//padding 8px
					position relative
					

			//comps
			.blockHalf
				height 100%
				position relative
				span(1/2)
				
				@media screen and (max-width 970px)
					height 50%
					span(1/1)
				
			.blockText
				align(center)
				width 325px
				
				h2
					color $azul
					
				a
					link($azul, #fff)
				
			//page
			.fp-section
				opacity 0
				transition(.8s ease)
				
			.fp-section.active
				opacity 1

			.pages, .section
				height 100%
				position relative
				width 100%
			
				//home
				.home		
					.projects
						background-color $azul
						
						.work
							align(center)
							width 325px
							
							h2
								color #fff
								
							p
								color #fff
							
							a
								link(#fff, $azul)
								
				//jobs
				.jobBlock
					overflow hidden
					text-align center
					
					&:hover
						.nav
							opacity 1 !important
					
					.jobSlide
						align(center)
						box-shadow(5px 5px 50px rgba(0, 0, 0, .8))
						width 87%
						z-index 9999
						
						.nav
							align(center)
							height 45px
							opacity 0
							position absolute
							transition(.4s ease)
							width 105%
							z-index 9999
							
							.arrow
								background-color $azul
								box-shadow(5px 5px 20px rgba(0, 0, 0, .0))
								cursor pointer
								height 45px
								position absolute
								top 5px
								transition(.4s ease)
								width @height
								
								&:hover
									background-color #fff
									box-shadow(5px 5px 20px rgba(0, 0, 0, .5))
									
									&:before
										border 3px solid $azul
								
								&:before
									border 3px solid #fff
									content ' '
									height 8px
									position absolute
									top 15px
									transform(rotate(-45deg))
									transition(.2s ease)
									width @height
								
								&:first-child
									left 0
									
									&:before
										border-right-color transparent
										border-bottom-color transparent
										left 20px
									
								&:last-child
									right 0
									
									&:before
										border-left-color transparent
										border-top-color transparent
										left 11px

						img
							height auto
							width 100%
					
					.bg
						opacity .9
						transform(scale(1.2))
						filter blur(20px)
						-webkit-filter blur(10px)
					