//@import 'jeet'
@import 'fonts.styl'
@import 'nib.styl'

$preto = #000
$cinza = #666

body
	margin 0
	
h1, h2, h3
	font-family $black
	
p
	font-family $bold
	
.header
	position relative
	width 100%
	
	h1
		font-size 1.2em
		float left
		margin 0
		padding 30px
		

	.menu
		position absolute
		right 30px
		top 33px
		
		ul
			list-style none
			margin 0
			padding 0
			
			li
				display inline-block
				margin-right 15px
				
				&:last-child
					margin-right 0
				
				a
					color $cinza
					font-family $bold
					text-decoration none
					
					&:hover
						color $preto
						
.down
	bottom 30px
	left 50%
	margin-left -10px
	position absolute
	width 20px
	
	img
		height auto
		width 100%
		

@media screen and (min-width 1080px)
	.container
		_translate(-50%, -50%)
		left 50%
		margin 0 auto
		position absolute
		top 50%
		width 1200px
		z-index 9999
		
	.page
		height 800px
		
		.content
			.black, .image
				_translate(0, -50%)
				margin-right 40px
				position absolute
				top 50%
				float left 
				width 800px
					
.page
	display table
	margin-bottom 100px
	position relative
	width 100%
	
	.content
		display table
		position relative
		width 100%
			
		.black
			background-color $preto
			height 10px
			
		.image
			box-shadow(0 15px 50px rgba(0, 0, 0, 0.44))
			height 500px
			overflow hidden
			
			
			img
				height auto
				width 100%
			
		.text
			display table
			float right
			width 360px
			
			h2, p
				margin 0
				padding 0
				
			h2, h3
				font-size 3em
				margin-bottom 3px
				
			p
				font-size 1em
				line-height 1.3em
				margin -5px 0 10px 0
				
			a
				border-bottom 3px solid $preto
				color $preto
				font-family $black
				font-size 1.1em
				padding-bottom 3px
				text-decoration none
				
	.img-bg
		height 100%
		overflow hidden
		position absolute
		width 58%
		z-index 1
		
		img
			height 100%
			width auto
		
.page-right
	.content
		.image
			float right
			margin-right 0
			right 0
		
		.text
			float left
			left 0

	.img-bg
		overflow hidden
		right 0
		
		img
			//height 100%
			width auto
			
.home
	display flex
	height 100vh
	margin-bottom 0
			
.footer
	position relative
	text-align center
	width 100%
	
	p
		color #888
		font-size .8em
		

@media screen and (max-width 1250px)
	.container
		width 90%
		
		.content
			.black, .image
				width 61%
				
			.text
				width 35%
	.page			
		.img-bg
			width 55%
			
@media screen and (max-width 1080px)
	.container, .header
		margin 0 auto
		position relative
		width 95%

	.container
		.content
			.black, .image, .text
				position relative
				width 100%
				
			.text
				h3
					margin-top 15px
				
			.image
				box-shadow(0 0 20px rgba(0, 0, 0, 0.44))
				height 300px
				margin-top 3%
				margin-bottom 10px
				
				img
					position absolute

	.page
		margin-bottom 100px
		
		.img-bg
			height 50%
			width 100%
			z-index -1
			
			img
				height auto
				width 100%
	
	.home
		display block
		margin-bottom 0
		position relative
		
		.header
			h1
				float none
				padding 10px 0 10px 0
			
			.menu
				left 0
				margin-bottom 50px
				position relative
				text-align left
				top 0
				
				li
					margin-right 10px
		
		.container
			.black 
				display none
				
	.down
		bottom 65px
				
	.footer
		text-align left
		
		p
			margin-left 10px			
		
