//nibs
transition(type, time)
	transition type time ease-in-out
	-o-transition type time ease-in-out
	-ms-transition type time ease-in-out
	-moz-transition type time ease-in-out
	-webkit-transition type time ease-in-out
	
_translate(x, y)
	transform translate(x, y)
	-o-transform translate(x, y)
	-ms-transform translate(x, y)
	-moz-transform translate(x, y)
	-webkit-transform translate(x, y)
	
border-radius(n)
	border-radius n
	-o-border-radius n
	-ms-border-radius n
	-moz-border-radius n
	-webkit-border-radius n
	

box-shadow(n)
	box-shadow n
	-o-box-shadow n
	-ms-box-shadow n
	-moz-box-shadow n
	-webkit-box-shadow n